/*
//style for ckeditor 5 
.ck.ck-toolbar {
  border: 1px solid #add8ef;
  border-radius: 15px 15px 0 0 !important;
  background-color: #fff;
}
.frm-field-bggray .ck.ck-toolbar {
  background-color: #edeef0;
}
.frm-field-bggray .ck.ck-content.ck-editor__editable {
  background-color: #edeef0;
}
.ck.ck-reset_all,
.ck.ck-reset_all * {
  color: #2167ad;
  font-family: "ZurichSans", sans-serif, Segoe UI;
  font-size: 10px;
}

.ck.ck-editor__main > .ck-editor__editable:not(.ck-focused),
.ck.ck-editor__editable:not(.ck-editor__nested_editable).ck-focused {
  border: 1px solid #add8ef;
  border-radius: 0px 0px 15px 15px !important;
  box-shadow: none;
}
.ck.ck-content.ck-editor__editable {
  min-height: 80px;
}
.ck.ck-content.ck-editor__editable p,
.ck.ck-content.ck-editor__editable h1,
.ck.ck-content.ck-editor__editable h2,
.ck.ck-content.ck-editor__editable h3 {
  margin-bottom: 5px;
}
.ck.ck-button.ck-on,
a.ck.ck-button.ck-on,
.ck.ck-button.ck-on:not(.ck-disabled):hover,
a.ck.ck-button.ck-on:not(.ck-disabled):hover,
.ck.ck-button:not(.ck-disabled):hover,
a.ck.ck-button:not(.ck-disabled):hover {
  background: #fff;
}
.ck.ck-reset.ck-dropdown__panel {
  width: 160px;
}
.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__panel .ck-list__item {
  min-width: none;
}
.ck.ck-list__item .ck-button {
  padding: 0px 5px;
}
.ck-content .table table td,
.ck-content .table table th,
.ck-content .table table {
  border: 1px solid #add8ef;
}
*/
.frm-field-bggray .frm-field .RichTextEditor__root___2QXK- {
  background-color: #edeef0;
}
.frm-field .RichTextEditor__root___2QXK- {
  border: 1px solid #add8ef;
  border-radius: 15px;
  background-color: #fff;
  color: #2167ad;
  font-family: "ZurichSans", sans-serif, "Segoe UI";
  font-size: 14px;
}
.frm-field .RichTextEditor__editor___1QqIU {
  font-family: "ZurichSans", sans-serif, "Segoe UI";
  font-size: 14px;
}
.frm-field .EditorToolbar__root___3_Aqz {
  font-family: "ZurichSans", sans-serif, "Segoe UI";
  color: #2167ad;
  border-bottom: 1px solid #add8ef;
  margin: 0;
  padding: 0;
}
.frm-field .RichTextEditor__editor___1QqIU .public-DraftEditor-content {
  min-height: 100px;
}
.frm-field .Button__root___1gz0c {
  border: 0;
}
.frm-field .ButtonGroup__root___3lEAn:first-child {
  margin-left: 10px;
}
.frm-field .ButtonGroup__root___3lEAn {
  margin: 0;
  border-right: 1px solid #add8ef;
}
.frm-field .Dropdown__root___3ALmx .Dropdown__value___34Py9 {
  border: none !important;
}
.frm-field .Dropdown__root___3ALmx .Dropdown__value___34Py9:after {
  padding: 2px;
  top: 10px;
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.frm-field .Dropdown__root___3ALmx .Dropdown__value___34Py9:before {
  display: none;
  padding: 2px;
  top: 18px;
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.frm-field .ButtonGroup__root___3lEAn > div > button {
  background: transparent;
}
.label {
}
