
.frm-field-bggray .frm-field .RichTextEditor__root___2QXK- {
  background-color: #edeef0;
}
.frm-field .RichTextEditor__root___2QXK- {
  border: 1px solid #add8ef;
  border-radius: 15px;
  background-color: #fff;
  color: #2167ad;
  font-family: "ZurichSans", sans-serif, "Segoe UI";
  font-size: 14px;
}
.frm-field.disabled .RichTextEditor__root___2QXK- {
  color: #00000060;
}
.frm-field .RichTextEditor__editor___1QqIU {
  font-family: "ZurichSans", sans-serif, "Segoe UI";
  font-size: 14px;
}
.frm-field .EditorToolbar__root___3_Aqz {
  font-family: "ZurichSans", sans-serif, "Segoe UI";
  color: #2167ad;
  border-bottom: 1px solid #add8ef;
  margin: 0;
  padding: 0;
}
.frm-field .RichTextEditor__editor___1QqIU .public-DraftEditor-content {
  min-height: 100px;
}
.frm-field .Button__root___1gz0c {
  border: 0;
}
.frm-field .ButtonGroup__root___3lEAn:first-child {
  margin-left: 10px;
}
.frm-field .ButtonGroup__root___3lEAn {
  margin: 0;
  border-right: 1px solid #add8ef;
}
.frm-field .Dropdown__root___3ALmx .Dropdown__value___34Py9 {
  border: none !important;
}
.frm-field .Dropdown__root___3ALmx .Dropdown__value___34Py9:after {
  padding: 2px;
  top: 10px;
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.frm-field .Dropdown__root___3ALmx .Dropdown__value___34Py9:before {
  display: none;
  padding: 2px;
  top: 18px;
  border: solid #1f66ab;
  border-width: 0 2px 2px 0;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
}
.frm-field .ButtonGroup__root___3lEAn > div > button {
  background: transparent;
}
