@font-face {
  font-family: "Zurich Sans Bold";
  src: local("Zurich Sans Bold"),
    url("../fonts/ZurichSans-Bold.woff") format("woff"),
    url("../fonts/ZurichSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Zurich Sans Bold Italic";
  src: local("Zurich Sans Bold Italic"),
    url("../fonts/ZurichSans-BoldItalic.woff") format("woff"),
    url("../fonts/ZurichSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Zurich Sans Italic";
  src: local("Zurich Sans Italic"),
    url("../fonts/ZurichSans-Italic.woff") format("woff"),
    url("../fonts/ZurichSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Zurich Sans Light";
  src: local("Zurich Sans Light"),
    url("../fonts/ZurichSans-Light.woff") format("woff"),
    url("../fonts/ZurichSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Light Italic";
  src: local("Zurich Sans Light Italic"),
    url("../fonts/ZurichSans-LightItalic.woff") format("woff"),
    url("../fonts/ZurichSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Medium";
  src: local("Zurich Sans Medium"),
    url("../fonts/ZurichSans-Medium.woff") format("woff"),
    url("../fonts/ZurichSans-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Medium Italic";
  src: local("Zurich Sans Medium Italic"),
    url("../fonts/ZurichSans-MediumItalic.woff") format("woff"),
    url("../fonts/ZurichSans-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans";
  src: local("Zurich Sans"),
    url("../fonts/ZurichSans-Regular.woff") format("woff"),
    url("../fonts/ZurichSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Semi Bold";
  src: local("Zurich Sans Semi Bold"),
    url("../fonts/ZurichSans-SemiBold.woff") format("woff"),
    url("../fonts/ZurichSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Zurich Sans Semi Bold Italic";
  src: local("Zurich Sans Semi Bold Italic"),
    url("../fonts/ZurichSans-SemiBoldItalic.woff") format("woff"),
    url("../fonts/ZurichSans-SemiBoldItalic.ttf") format("truetype");
}
body {
  font-family: "ZurichSans", sans-serif, Segoe UI;
  font-size: 14px;
  color: #21356e;
  word-spacing: normal;
  letter-spacing: normal;
  margin: 0px 0px 0px 0px;
  height: auto;
  background-color: #f3f3f3;
  line-height: 1.2;
}

.spinner {
  position: relative;
  margin: 0 auto;
  top: 100px;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.popup-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
}
.popup-container .popup-sheen {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url("../assets/transparent.png");
}
.popup-box {
  position: absolute;
  right: 0px;
  width: 366px;

  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: -5px 3px 11px #00000029;
  border: 1px solid #dce3e3;
}
.popup-header-container {
  height: 50px;
  border-bottom: 1px solid #1f66ab;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popup-footer-container {
  height: 50px;
  border-top: 1px solid #1f66ab;
  padding: 20px;

  display: flex;
  justify-content: end;
  align-items: center;
}
.popup-header-title {
  font-size: 20px;
  font-weight: 600;
}
.popup-close {
  width: 20px;
  height: 20px;
  font-size: 14px;
  cursor: pointer;
}
.popup-close:hover {
  font-weight: 600;
}
.popup-formitems {
  padding: 20px;
  min-height: 530px;
  max-height: 550px;
  overflow-y: auto;
  font-size: 14px;
}
/* form styles */
.frm-field {
  position: relative;
  margin-bottom: 20px;
}
.frm-field label {
  font-weight: 500;
  margin-bottom: 5px;
}
.frm-field .validationError {
  margin-top: 3px;
  font-style: italic;
  color: #ff0000;
}
.frm-field.mandatory label::after {
  content: "*";
  color: #ff0000;
  font-size: 10px;
  top: 0px;
}
.frm-field input,
.frm-field textarea,
.frm-field select {
  width: 100%;
  height: 30px;
  border: 1px solid #add8ef;
  color: #21356e;
  padding: 2px 4px;
}
.frm-field input[type="radio"],
.frm-field input[type="checkbox"] {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.frm-field .frm-radiobtns-container {
  display: flex;
}
.frm-field .radiobtn-container {
  display: flex;
  width: 170px;
  justify-content: flex-start;
  align-items: center;
}
.frm-checkbox-container {
  display: flex;
}
.frm-field textarea {
  resize: none;
}
textarea::-webkit-input-placeholder {
  color: #c5c2c2;
}

textarea:-moz-placeholder {
  /* Firefox 18- */
  color: #c5c2c2;
}

textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: #c5c2c2;
}

textarea:-ms-input-placeholder {
  color: #c5c2c2;
}

textarea::placeholder {
  color: #c5c2c2;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}
.frm-field textarea {
  height: 70px;
}

.custom-multiselect {
  color: #21356e;
  font-size: 14px;
}
.custom-multiselect .chip {
  display: none;
}
.custom-multiselect.multiSelectContainer ul {
  border-radius: 0px;
  border: 1px solid #add8ef;
  max-height: 200px;
}
.multiSelectContainer li {
  padding: 5px !important;
  display: flex;
  align-items: center;
}
.multiSelectContainer ul .custom-multiselect .optionContainer li {
  padding: 0px;
  height: 25px;
  display: flex;
  align-items: center;
}
.multiSelectContainer::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 10px;
  border: solid #21356e;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.custom-multiselect.multiSelectContainer input {
  margin-top: 0px;
  height: 25px;
}
.custom-multiselect .searchWrapper {
  border: 1px solid #add8ef;
  border-radius: 0px;
  padding: 2px;
}
.custom-multiselect .optionContainer input {
  width: 15px;
  height: 15px;
}
.multi-selected-opts-container {
  margin-top: 10px;
  padding: 0 5px;
}
.multi-selected-opts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.multi-selected-opts-container .delete-icon {
  width: 22px;
}
.frm-tabs-container {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: end;
  border-bottom: 1px solid #21356e;
  padding: 0 20px;
}
.tab-btn {
  height: 34px;
  line-height: 33px;
  padding: 0px 10px;
  color: #fff;
  background: #1dafe4 0% 0% no-repeat padding-box;
  border-radius: 5px 5px 0px 0px;
  margin-right: 10px;
}
.tab-btn.normal:hover {
  cursor: pointer;
  background: #21356e 0% 0% no-repeat padding-box;
}
.tab-btn.selected {
  cursor: default;
  background: #21356e 0% 0% no-repeat padding-box;
}
.approver-container {
  padding: 10px 5px;
}
.site-pagination-table .approver-container {
  padding: 10px 0px;
  margin-left: -7px;
}
.searched-container {
  position: absolute;
  top: 52px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #add8ef;
  border-top: none;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
}
.searched-container .user-view {
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searched-container .addbtn {
  width: 22px;
  height: 15px;
  color: #fff;
  background-color: #1dafe4;
  text-align: center;
  line-height: 15px;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}
/* end of form styles */
.main-container {
  width: 100%;
  background: #ebedef 0% 0% no-repeat padding-box;
  border: 1px solid #dce3e3;
}
.header-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  border-bottom: 1px solid #dce3e3;
  background-color: #fff;
  align-items: center;
}
.site-logo {
  width: 200px;
  height: 100%;
  border-right: 1px solid #dce3e3;
  background-image: url("../../src/assets/Zurich_72_Logo_Horz_Blue_RGB.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.header-title {
  width: 860px;
  font-size: 25px;
  font-weight: 600;
}
.loggeduser-container {
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}
.loggeduser-container .userregion-container {
  width: 120px;
  text-align: right;
}
.loggeduser-container .userregion-logo {
  width: 20px;
  text-align: center;
}
.loggeduser-container .user-image {
  text-align: center;
}
.profile-picture {
  width: 35px;
  height: 35px;
  border-radius: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #f0f9fd;
  border: 1px solid #ffffff;
  text-align: center;
  color: #009ee0;
  overflow: hidden;
}
.site-container {
  display: flex;
}

.menu-nav {
  width: 200px;
  background-color: #ebf4fb;
}

.nav-links {
  width: 100%;
}
.nav-links a {
  text-decoration: none;
}
.nav-links .menu-item {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #dce3e3;
  line-height: 40px;
  padding-left: 40px;
  color: #21356e;
}
.nav-links .submenu-container .menu-item {
  padding-left: 50px;
}
.nav-links .menu-item:hover,
.nav-links .menu-item.active {
  background-color: #cee3f4;
  font-weight: bold;
}
.nav-links .menu-item:hover {
  cursor: pointer;
}
.pageview-container {
  margin: 5px;
  width: 1125px;
  min-height: 525px;
  background-color: #fff;
}
.page-title {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
}
.page-filter {
  width: 100%;
  min-height: 79px;
  border-top: 1px solid #1dafe4;
  border-bottom: 1px solid #1dafe4;
  background-color: #ebf4fb;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.page-filter .btn-container {
  margin-bottom: 10px;
}
.filter-container {
  max-width: 820px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.filter-container .dropdown-filter {
  margin-right: 10px;
  margin-bottom: 10px;
}
.filter-container .label {
  font-weight: 600;
  margin-bottom: 5px;
}

.filter-container .dropdown select,
.filter-container input {
  background-color: #fff;
  width: 260px;
  height: 30px;
  color: #21356e;
  border: 1px solid #add8ef;
}
.dropdown select option {
  max-width: 100%;
  overflow: hidden;
  /*Altered two below to make word wrap work */
  word-wrap: normal !important;
  white-space: normal;
}
.btn-container {
  display: flex;
  justify-content: space-between;
}
.btn-container div:not(:last-child),
button:not(:last-child) {
  margin-right: 15px;
}

.btn-blue {
  min-width: 89px;
  height: 26px;
  background-color: #1dafe4;
  text-align: center;
  line-height: 25px;
  color: #fff;
  border-radius: 13px;
  padding: 0 15px;
  cursor: pointer;
  border: none;
}
.btn-blue.disable,
.btn-blue.disable:hover {
  background-color: #dee2e6;
  cursor: default;
}
.btn-blue:hover {
  background-color: #21356e;
}

.edit-icon {
  width: 100%;
  height: 22px;
  background: url("../assets/edit_normal.png") center no-repeat;
}
.edit-icon:hover {
  cursor: pointer;
  background: url("../assets/edit_hover.png") center no-repeat;
}
.delete-icon {
  width: 22px;
  height: 22px;
  background: url("../assets/trash_normal.png") center no-repeat;
}
.delete-icon:hover {
  cursor: pointer;
  background: url("../assets/trash_hover.png") center no-repeat;
}
/*overiding bootstrap styles */
.react-bootstrap-table table {
  table-layout: auto !important;
}
.react-bootstrap-table th .order-4,
.react-bootstrap-table th .caret-4-asc,
.react-bootstrap-table th .caret-4-desc {
  display: inline-block;
  position: relative;
}
.react-bootstrap-table th .order-4:before,
.react-bootstrap-table th .caret-4-asc:before,
.react-bootstrap-table th .caret-4-desc:before {
  content: "\25be" !important;
  position: absolute;
  top: -9px;
  left: 0px;
  margin-left: 0px !important;
}
.react-bootstrap-table th .order-4::after,
.react-bootstrap-table th .caret-4-asc::after,
.react-bootstrap-table th .caret-4-desc::after {
  content: "\25B4" !important;
  position: absolute;
  top: -16px;
  left: 0px;
  margin-left: 0px !important;
}
.table-bordered td,
.table-bordered th {
  border: none;
}
.page-item.active .page-link {
  background-color: #fff;
  color: #21356e;
  width: 37px;
  text-align: center;
}
.page-link:focus {
  box-shadow: none;
}
.pagination .page-item {
  margin: 0 1px;
}
.pagination .page-item.active .page-link {
  cursor: default;
}
.pagination-top-container {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
}
.serachperpage {
  width: 160px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  align-items: center;
}
.serachperpage .filter-container .dropdown select {
  width: 60px;
}

.pagination-top-container .searchbox {
  display: flex;
  align-items: center;
}
.searchbox .search-title {
  margin-right: 10px;
}
.searchbox .search-label {
  margin-bottom: 0;
}
.searchbox .form-control::placeholder {
  color: #fff;
}
.searchbox .form-control {
  width: 400px;
  height: 30px;
  color: #21356e;
  border: 1px solid #add8ef;
  border-radius: 0%;
  font-size: 14px;
  padding: 7px 10px;
  margin-right: 15px;
}
.searchbox .form-control:focus {
  box-shadow: none;
}

.btn.btn-default {
  min-width: 89px;
  height: 26px;
  background-color: #1dafe4;
  text-align: center;
  line-height: 25px;
  color: #fff;
  border-radius: 13px;
  padding: 0 15px;
  font-size: 14px;
  transition: none;
}
.btn.btn-default:hover {
  cursor: pointer;
  background-color: #21356e;
}
.btn.btn-default:focus {
  box-shadow: none;
}
#pageDropDown {
  background-color: #fff;
  border-radius: 0%;
  color: #21356e;
  transition: none;
  font-size: 13px;
  width: 60px;
  border: 1px solid #add8ef;
  padding: 0px;
  height: 25px;
  margin: 0 20px;
  min-width: 60px !important;
}
#pageDropDown:focus {
  box-shadow: none;
}
.dropdown-toggle::after {
  margin-left: 20px;
}
.dropdown-menu {
  color: #21356e;
  font-size: 12px;
  width: 60px;
  border: 1px solid #add8ef;
  margin-left: 20px;
  top: 20px;
  min-width: 60px;
  padding: 0;
}
.dropdown-item {
  padding: 5px 10px;
  width: 60px;
  color: #21356e;
}
.pagination {
  margin-right: 20px;
}

.approver-container {
  display: flex;
  align-items: center;
}
.approver-detail-block {
  width: 90%;
  display: flex;
  align-items: center;
}
.approver-img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 30px;
  display: inline-block;
  vertical-align: top;
  background-color: #f0f9fd;
}
.approver-email {
  color: #1dafe4;
  font-size: 12px;
}
